*{
    margin: 0;
    font-family: gaz; 
    background-color:#0f0f0f;
}
header{
    width: 100%;
    overflow: hidden;
    transition: all ease 0.2s;
    display: flex;
    align-items: center;
    height: 10vw;
    background-color: #111111;
}
.glow{
    width: 25%;
    overflow: hidden;
    transition: all ease 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vw;
    background-color: #111111;
}
#backcircle{
    height: 7.5vw;
    width: 7.5vw;
    border-radius: 50%;
    animation-name: gg;
    animation-duration: 1s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    filter: blur(2px);
}
.glow img{
    z-index: 1;
    position: absolute;
    height: 7vw;
    width: 7vw;
    transition: all ease 0.2s; 
    border-radius: 50%;
    background-color: #20ff5f00;

}
@keyframes gg{
    from{
        background-color: #7620ff5e;
    }
    to{
        background-color: #20d2ff5e;
    }
}
.triplet{
    margin-left: 3%;
    margin-right: 3%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    padding: 1%;
}
.blok{
    outline-color: #7620ff;
    border-radius: 3%;
    aspect-ratio: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    width: 20%;
    background-color:rgba(26, 36, 63, 0.7);
    transition: all ease 0.25s;
}
.blok:hover{
    background-color:rgba(26, 36, 63, 0.9);
    box-shadow: 0 0 0.6vw 0.2vw #7620ff;
    
}
.blok:hover .t1{
    scale: 1.15;
    color: #7620ff;
}
.t1{
    color: #ff3223;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 2.1vw;
    background-color: rgba(26, 36, 63, 0);
    transition: all ease 0.2s;
}
@font-face {
    font-family: gaz;
    src: url(./footage/a1.ttf);
}
#bvdo{
    position: fixed;
    z-index: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.05;
  }
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    padding: 1%;
    height: 100%;
    
}
.f1{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(26, 36, 63, 0.7);
    transition: all ease 0.4s;
    height: 100%;
    padding: 1%;
}
.f2{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 100%;
    background-color: rgba(26, 36, 63, 0);
    height: 100%;
    padding: 1%;
}
.f1:hover{
    background-color: rgba(36, 58, 121, 0.9);
}
.t2{
    color: #ffffff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size:200%;
    width: 100%;
    text-align: center;
    padding: 5%;
    margin: 5%;
    background-color: rgba(26, 36, 63, 0);
}
.blok2{
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 5%;
    margin: 5%;
    background-color: rgba(26, 36, 63, 0.7);
}


